    @using RMW.Models
    @model  PagedResult<Article>

@{
    ViewBag.Title = "ASP.NET Articles";
    ViewBag.MetaDesc = "Ryan Williams, professional software engineer. Articles on development with ASP.NET, C# and other useful Microsoft technologies.";
}

<h1>Articles</h1>

<i>Recent software development articles</i>
<hr />
<br />
<ul class="no_item_type" style="margin:0;padding:0;">

@foreach (var item in Model.Results) {
    
    <li class="article_item">
        <a href="@item.URLTo">@item.Title</a>
        	
        <ul class="no_item_type">
            <li> <i>Published:	@item.CreatedOn.ToString("yyyy-MM-dd") | @if (item.Comments != null && item.Comments.Count > 0)
	                                                                       {
	                                                                           <a href="@item.URLTo#comments">Comments: @item.Comments.Count</a>
	                                                                       }
	                                                                       else
	                                                                       {
	                                                                           <text>Comments: 0 </text>
	                                                                       }
                                                                  </i></li>
            <li>

                	@item.MetaDescription
            </li>
        </ul>
    </li>
}
    </ul>

 
@{
    int pageCount = Model.PageCount;

    for (int pageNumber = 1; pageNumber <= pageCount; pageNumber++)
    {
        if (string.IsNullOrEmpty(Request.QueryString["page"]) && pageNumber == 1)
        {
    @pageNumber     
        }
        else if (!string.IsNullOrEmpty(Request.QueryString["page"]) &&
            pageNumber == Convert.ToInt32(Request.QueryString["page"])
            )
        {
    @pageNumber 
        }
        else
        {
    <a href="@Url.Content("~/articles/?" + "page" + "=" + pageNumber.ToString())">@pageNumber.ToString()</a>  
        }
    }
    
}
