@model IEnumerable<RMW.Models.Log4Net>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Date
        </th>
        <th>
            Thread
        </th>
        <th>
            Level
        </th>
        <th>
            Logger
        </th>
        <th>
            Message
        </th>
        <th>
            Exception
        </th>
        <th>
            Location
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@String.Format("{0:g}", item.Date)
        </td>
        <td>
			@item.Thread
        </td>
        <td>
			@item.Level
        </td>
        <td>
			@item.Logger
        </td>
        <td>
			@item.Message
        </td>
        <td>
			@item.Exception
        </td>
        <td>
			@item.Location
        </td>
    </tr>
}

</table>


