@model ArticleDisplayModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaDesc = Model.MetaDescription;
}

<h1>@Model.Title</h1>
<i>Published: @Model.PublishedOn.ToString("yyyy-MM-dd")</i> | By:  
<a class="h_img" href="https://plus.google.com/u/0/102203432508719579575?rel=author" target="_blank">Ryan Williams</a>
 

<hr />
@Html.Raw(Model.Body)
<br />
<hr />
<a name="comments"></a>

 

<div style="text-align:center;">
    <script type="text/javascript">
        amzn_assoc_ad_type = "banner";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_placement = "assoc_banner_placement_default";
        amzn_assoc_banner_type = "ez";
        amzn_assoc_p = "9";
        amzn_assoc_width = "180";
        amzn_assoc_height = "150";
        amzn_assoc_tracking_id = "dkm543-20";
        amzn_assoc_linkid = "844c47524044abfe9765d19c2ff341ad";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>





@if (Model.Comments != null && Model.Comments.Count > 0)
{
    <h4>Comments</h4>
    
    <ul class="comments">
    @foreach (var com in Model.Comments)
    {
        <li>
            @if(string.IsNullOrWhiteSpace(com.Url))
            {
                <b>@com.Author</b>  <i>@com.CreateDate.ToString("yyyy-MM-dd HH':'mm':'ss") UTC</i>
            }
            else 
            {
                 <b><a href="@com.Url" rel="nofollow" target="_blank">@com.Author</a></b>  <i>@com.CreateDate.ToString("yyyy-MM-dd HH':'mm':'ss")</i> 
            }
            
            
                <br />
            <p>
            @com.Body
        </p>
                </li>
    }
        </ul>
}
else {
 <h4>No Comments... Yet</h4>   
}

<br />
        @Html.ValidationSummary(true)

        @using (Html.BeginForm("Comment", "Articles", FormMethod.Post))
        {
            
            <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
<fieldset>
    <legend><b>Comment On</b></legend>

    <div class="editor-label">
        <label for="Name">Name</label>
    </div>
    <div class="editor-field">
        <input required="required" style="width:200px" type="text" name="Author" />


    </div>

    <div class="editor-label">
        <label for="Email">E-Mail</label>
    </div>
    <div class="editor-field">
        <input required="required" style="width:200px" type="email" name="Email" />


    </div>


    <div class="editor-label">
        <label for="Url">Url <i>(optional)</i></label>
    </div>
    <div class="editor-field">
        <input style="width:200px" type="url" name="Url" />


    </div>


    
    <div class="editor-label">
        <label for="Body">Body</label>
    </div>
    <div class="editor-field">
        <textarea required="required" cols="20" rows="10" style="width:200px" name="Body"></textarea>

    </div>
       <br />
                     @Html.Partial("_captcha")
      <br />
              <button class="green" type="submit">Submit</button>
</fieldset>
        }